main.tour {
  margin-top: 60px;
}
main.tour .feature {
  padding-top: 0.5em;
  clear: both;
}
.exampleHeading {
  display: none;
}
main a, main a:link, main a:active, main a:visited {
  color: #1f8ace;
}
main .buttons a,
main .buttons a:link,
main .buttons a:visited,
main .buttons a:active {
  color: #505055;
}
main a.run, main a.run:link, main a.run:active, main a.run:visited {
  color: #e74039;
}

ul.tour-nav {
  float: right;
  margin-top: 1.5em;
}

@media screen and (min-width: 980px) {
  ul.tour-nav {
    float: right;
    margin-top: 2em;
  }
  main.tour .feature {
    clear: none;
  }
}

ul.tour-nav li {
  line-height: 2.375em;
  font-size: 1.2em;
  float: left;
  text-align: center;
}
ul.tour-nav li a {
  display: block;
  white-space: nowrap;
}
ul.tour-nav li.pager {
  width: 60px;
}

.feature {
  z-index: 1;
}
.feature .code-snippet .CodeMirror {
  height: 100%;
}

blockquote {
  padding: 0.5em;
  padding-left: 2em;
  color: gray;
  background: #fafafa;
  margin: 0;
}

pre {
  font-family: monospace;
}
