.play a.run,
.play a.run:active,
.play a.run:link,
.play a.run:visited {
  color: #e74039;
}

div.play .input textarea {
  color: #333;
  background: #f0f0f0;
}

div.play .input:hover {
  border: 1px solid #888;
  color: #000;
}

div.play .input textarea:focus {
  color: #000;
}
